body {
    height: 100%;
    margin: 0;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'VAGLight';
    font-size: 30pt;
}

.main {
  background:white;
  position:absolute;
  color:black;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.game > .achievements {
  font-size: 0.8rem;
  color: #ff7200;
  vertical-align: bottom;
  padding: 0.5rem 1rem 0 1rem;
}

.game > .achievements .round {
  color: black;
  padding: 0 0.5rem;
  font-family: 'VAGBold';
}

.game > .achievements .score {
  color: black;
  padding: 0 0.5rem;
  font-family: 'VAGBold';
}

.game > .state {
  font-size: 0.8rem;
  color: white;
  vertical-align: bottom;
  padding: 0.5rem 1rem 0.2rem 1rem;
}

.game > .state .clock {
  color: #ff7200;
  font-family: 'VAGBold';
}

.game > .state .score {
  color: black;
  font-family: 'VAGBold';
}

.game > .state .errors {
  font-family: 'VAGBold';
}

.game.inprogress > .state {
  color: darkgray;
}

.game.solved > .state {
  color: green;
}

.game.timeout > .state {
  color: #ff7200;
}

.game.wrong > .state {
  color: red;
}

.game > .exercise {
	padding: 1rem;
	font-size: 1.5rem;
}

.game > .exercise > .mark {
  position: absolute;
  bottom: 2.5em;
  left: 1em;
  color: black;
}

.game.solved > .exercise {
  border:5pt solid green;
}

.game.wrong > .exercise {
  border:5pt dotted red;
}

.game.timeout > .exercise {
  border:5pt solid gray;
  pointer-events: none;
  color: gray!important;
}

.game > .exercise > .row {
  white-space:nowrap;
  text-align: right;
}

.game > .exercise > .row.input {
  border-top: 0.1em solid #ff7200;
}

.game > .exercise > .row > .cell {
	width: 1.4em;
  height: 1.4em;
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  padding-top: 0.15em;
  box-sizing: border-box;
}

.game > .exercise > .row > .cell.input {
  border-bottom: 3px solid transparent;
}

.game.inprogress > .exercise > .row > .cell.input {
  color: blue;
}

.game.solved > .exercise > .row > .cell.input {
  color: green;
}

.game.wrong > .exercise > .row > .cell.input {
  color: blue;
}

.game.timeout > .exercise > .row.input > .cell.input {
  color: green;
}

.game.timeout > .exercise > .row > .cell.input.wrong {
  background-color: red;
  color: white;
}

.game.inprogress > .exercise > .row > .cell.input.focus {
  border-bottom: 0.1em solid blue;
  background-color: lightgray;
  animation: blink .5s step-end infinite alternate;
}

.game.wrong > .exercise > .row > .cell.input.focus {
  border-bottom: 0.1em solid blue;
  background-color: lightgray;
  animation: blink .5s step-end infinite alternate;
}

::selection {
  background: transparent; 
}
::-moz-selection {
  background: transparent; 
}

@keyframes blink { 
   50% { border-bottom-color: transparent; } 
}

.cell.v1 {
  background-color: #FFFFFF;
}

.cell.v2 {
  background-color: #FFF7DF;
}

.cell.v3 {
  background-color: #FFEFBF;
}

.cell.v4 {
  background-color: #FFE79F;
}

.cell.v5 {
  background-color: #FFDF80;
}

.cell.v6 {
  background-color: #FFD760;
}

.cell.v7 {
  background-color: #FFCF40;
}

.cell.v8 {
  background-color: #FFC720;
}

.cell.v9 {
  background-color: #FFBF00;
}